.main{
  margin-top: 20px;
}

body {
    font-size: $baseFontSize;
    line-height: 1.5;
    font-family: $baseFontFamily;
    color: $textColorPrimary;
    background: #fff;
}

#outer-wrapper {
  background: url(/assets/imgs/bg-gradient-sand.png) repeat-x 0 0, url(/assets/imgs/bg-sand.png) repeat 0 0, #f5f1e8;
  min-height: 1080px;
  padding: 30px 20px;
}
