.panel {
  @extend .box-shadow;
}

.panel-body {
  font-family: "Open Sans Light";
}

.panel-default > .panel-heading{
  background-color: transparent;
  border: 0;
}

.panel-title {
  font-size: 24px;
  letter-spacing: -0.25px;
  text-align: center;
}
