.box {
  padding: 10px;

  .icon{
    padding: 10px 20px;
    border-radius: 5px;
  }

  .text{
    display: inline-block !important;
    vertical-align: middle;
  }
}


/*==================================================
                                                    BIG BUTTON
==================================================*/
.btn-xlarge{
  position: relative;
  padding: 35px 35px;
  font-size: 22px;
  color: white;
  text-align: center;
  // background: #62b1d0;
  // border: 0;
  cursor: pointer;
  @extend .box-shadow;

  .text{
    height: 0;
    color: transparent;
  }

  &:hover {
    // background: transparent;
    .text {
      color: inherit;
    }
  }
}
