// FONTS

$open-sans: 'Open Sans', sans-serif;
$open-sans-light: 'Open Sans Light', sans-serif;

$baseFontSize: 16px;
$line-height: 1.5;

$baseFontFamily: $open-sans;


// COLOURS
$black: #333;
$dark-gray: #484848;
$dark-red: #B86B6B;
$light-blue: #bed1cb;

$textColorPrimary: $black;
$textColorSecondary: $dark-gray;

$buttonColorPrimary: $light-blue;
