<div class="row main-menu">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="row">
    <div class="col-md-4">
      {{#link-to 'members.search' class="btn btn-xlarge btn-success"}}
        <i class="fa fa-user-md fa-5x" ></i>
        <div class="text">Members</div>
      {{/link-to}}
    </div>
    <div class="col-md-4">
      <button href="#"  class="btn btn-xlarge btn-success" />
        <i class="fa fa-clock-o fa-5x" ></i>
      </button>
    </div>
    <div class="col-md-4">
      <button href="#"  class="btn btn-xlarge btn-success" />
        <i class="fa fa-clock-o fa-5x" ></i>
      </button>
    </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
