<div id="outer-wrapper">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
      {{#link-to 'main'}}
      <img id="logo" src="/assets/imgs/openTalentLogo.png">
      {{/link-to}}
    </div>
  </nav>

  {{outlet}}
</div>
